<!DOCTYPE html>
<head>
	<title>milkmaid1.0.com is a Dairy tanks calibration system by the Mitty associates</title>

	<style>
		h1 {text-align: center;}
		div {text-align: center;}
		body {
  			background-image: url('MILKMAID_HomePic.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  			background-size: cover;
		}
	</style>
</head>

<body style="background-color:#F0F8FF;">
	<h1>MILKMAID.COM 1.0</h1>
</br>
</br>
	<p style="color:#F0F8FF; font-size:50px">GOT MILK?</p>

	<%= link_to 'Articles Listing', articles_path %> |
	<%= link_to 'About Page', about_path %>
</body>
